<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36659468042-9mr8ue63r2jbp3m5jcteoaq4fnnhrtsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36659468042-9mr8ue63r2jbp3m5jcteoaq4fnnhrtsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCbjnZKEqmyn-93dQFwduCA-uvXK4g8v4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>36659468042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acecorps.co</string>
	<key>PROJECT_ID</key>
	<string>accounteer-e42e6</string>
	<key>STORAGE_BUCKET</key>
	<string>accounteer-e42e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36659468042:ios:9c342066b49e5eb3464cf3</string>
	<key>DATABASE_URL</key>
	<string>https://accounteer-e42e6.firebaseio.com</string>
</dict>
</plist>